* text=auto eol=lf

# Explicitly declare file types
*.blade.php diff=html
*.css diff=css
*.html diff=html
*.md diff=markdown
*.php diff=php
*.js text eol=lf
*.json text eol=lf
*.yml text eol=lf
*.yaml text eol=lf
*.conf text eol=lf
*.sh text eol=lf

# Docker files
Dockerfile text eol=lf
docker-compose.yml text eol=lf
docker-compose.*.yml text eol=lf
*.dockerignore text eol=lf

# Git files
.gitattributes text eol=lf
.gitignore text eol=lf

# Laravel files
.env* text eol=lf
artisan text eol=lf

# Denote all files that should not be modified
*.png binary
*.jpg binary
*.jpeg binary
*.gif binary
*.ico binary
*.mov binary
*.mp4 binary
*.mp3 binary
*.flv binary
*.fla binary
*.swf binary
*.gz binary
*.zip binary
*.7z binary
*.ttf binary
*.eot binary
*.woff binary
*.woff2 binary
*.pdf binary
*.sqlite binary

# Export ignore folders and files
/.github export-ignore
CHANGELOG.md export-ignore
.styleci.yml export-ignore